<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5851550594315289~6221721976</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>DARIASアプリでは、設定された予定やイベントの重要な通知をお送りするために通知機能を使用します。通知により、大切な予定を見逃すことなく効率的なスケジュール管理が可能になります。</string>
</dict>
</plist>
